
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel img {
  max-width: 60vw;
  max-height: 75vh;
  margin: 25px;
  position: relative;
}

@media screen and (max-width: 475px) {
  .carousel img {
    max-width: 80vw;
    max-height: 85vh;
    margin: 2vh 2vw;
  }
}
  


