
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel img {
  max-width: 60vw;
  max-height: 75vh;
  margin: 25px;
}

.cover {
  max-width: 60vw;
  max-height: 75vh;
  margin: 25px;
}



