

.gallery-header {
  height: 12vh;
  font-size: 3em;
  text-align: left;
  padding-top: 10px;
  padding-left: 10vw;
  margin-bottom: 10px;
}
.gallery {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-areas:
  "a b c"; */
  gap: 15px;
  padding: 1% 5%;
  justify-content: space-evenly;
  justify-items: start;
}

.gallery img {
  max-width: 90%;
}