.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8vh;
  width: 100vw;
  padding-right: 15px;
  border-bottom: 1px solid darkgrey;

}

.navbar a {
  margin: 0 10px;
}